<!DOCTYPE html>
<html lang="en">

<% const pageTitle = `Create Account` %>
<% const directoryDepth = "../" %>

<%- include partials/head %>

<body>
  <h1>Create an account name</h1>

  <form class="account-name-form" action="/updateAccount" method="post">
    <input type="text" name="user_name" value="" placeholder="User Name" pattern=".{4,}" required>
    <small>Min 4 characters</small>
    <button type="submit">Ready</button>
  </form>

</body>
</html>
