<!DOCTYPE html>
<html lang="en">

<% const pageTitle = `Room ${roomId}` %>
<% const directoryDepth = "../" %>

<%- include partials/head %>

<body>
  <main id="room-content">
    <header>Room <%= roomId %></header>
    <canvas></canvas>
    <aside>
      <ul class="chat-messages">
      </ul>
      <footer>
        <input type="text">
        <button type="button">Submit</button>
      </footer>

    </aside>
  </main>


  <%- include partials/scripts %>

</body>
</html>
