:root {
  --color-green-light: #58E9AE;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui;

}

li {
  list-style-type: none;
}

button, input {
  border: none;
  outline: none;
  font-size: 1rem;
}

.visuallyhidden {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

#room-content {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 5rem calc(100vh - 5rem);

}

#room-content > header {
  grid-column: 1 / 2;
  background: #e7e7e7;
}

#room-content .canvas-container {
  grid-column: 1 / 2;
  display: flex;
  position: relative;
}

#timer {
  position: absolute;
  height: 10px;
  background: red;
  width: 100%;
  bottom: 0;
  left: 0;
  transition: width 1s linear;
}

#room-content canvas {
  border: solid 1px black;
  width: 100%;
  height: 100%;
}

#game-extras {
  grid-row: 1 / 3;
  grid-column: 2 / 3 ;
  overflow: hidden;
}

#game-extras > header {
  height: 5rem;
  display: flex;
  background: #303030;
}

#game-extras > header label:hover {
  cursor: pointer;
}

#game-extras > header label {
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
  line-height: 5rem;
  background: #4de2a7;
  opacity: .5;
  transition: opacity .2s ease;
}

#game-extras .extras-container {
  display: flex;
  height: calc(100% - 5rem);
  width: 100%;
  border: solid 1px black;
  transition: transform .2s ease;
}

#game-extras .scoreboard-container,
#game-extras .chat-container {
  display: flex;
  flex-direction: column;
  min-width: 100%;
}

#game-extras .chat-container ul {
  height: 100%;
  background: #292929;
  overflow-y: scroll;
  padding: 1em;
}

#game-extras .chat-container form {
  height: 3rem;
  display: flex;
  background: #4de2a7;
  border: solid 3px #4de2a7;
}

#game-extras .chat-container form input,
#game-extras .chat-container form button {
  padding: 0 .5em;
  color: #45494f;
  letter-spacing: 1px;
  border-radius: 3px;
}

#game-extras .chat-container form input {
  width: 100%;
  background: rgba(0,0,0,.1);
  box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.13);
}

#game-extras .chat-container form button {
  background: rgba(255,255,255,.3);
  font-weight: bold;
}

#game-extras .chat-container form button:hover {
  cursor: pointer;
  background: rgba(255,255,255,.6);
}

#tab-chat:checked ~ .extras-container {
  transform: translateX(0);
}

#tab-scoreboard:checked ~ .extras-container {
  transform: translateX(-100%);
}

#tab-chat:checked ~ header [for="tab-chat"] {
  opacity: 1;
}

#tab-scoreboard:checked ~ header [for="tab-scoreboard"] {
  opacity: 1;
}





.canvas-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 5rem;
  padding: 1rem 0
}

.canvas-options ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.canvas-options ul li {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 4rem;
  margin-bottom: 2rem;
  width: 4rem
}

.canvas-options ul li > label {
  /* display: block; */
  line-height: 4rem;
  text-align: center;
  border-radius: 100%;
  background: grey;
}

.option {
  display: none;
  position: absolute;
  right: 110%;
  top: 50%;
  padding: 1rem;
  border: solid 1px red;
}

.option:last-of-type {
  bottom: 50%;
}

.option-toggler:checked + .option {
  display: block;
  /* display: flex;
  flex-direction: column;
  align-self: stretch; */
}

.room {
  border: solid 1px black;
  margin-bottom: 1em;
  position: relative;
}

.room-players .current::after {
  content: "/";
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#pen-preview {
  border-radius: 100%;
  background: rgba(0,0,0,.2);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  max-width: 50px;
  max-height: 50px;
}

#pen-preview div {
  border-radius: inherit;
  border: solid 1px rgba(0,0,0,.2);
}

.range-container {
  background: green;
  display: flex;
}

#game-waiter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255,255,255,.5)
}

#game-waiter h1 {
  transform-origin: top center;
  animation: pop .4s ease-in-out;
  background: #4de2a7;
  margin-top: .5em;
  padding: 1em;
  border-radius: .2em;
}

@keyframes pop {
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(1.5)
  }
  100% {
    transform: scale(1)
  }
}

.account-name-form {
  max-width: 400px;
  min-width: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  background: #4de2a7;
  padding: 1em;
}

.account-name-form input {
  font-size: inherit;
  background: rgba(0,0,0,.2);
  padding: .25em .5em;
  box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.13);
}

.account-name-form small {
  font-size: .7em;
  padding: .1em .5em;
  margin-bottom: 1em;
  color: rgba(0,0,0,.75)
}

.account-name-form input::placeholder {
  color: rgba(0,0,0,.5);
}

.account-name-form button {
  font-size: inherit;
  padding: .25em .5em;
  background: white;
  opacity: .8;
  border-radius: .2em;
}

.account-name-form button:hover {
  opacity: 1;
  cursor: pointer;
}

.user-message {
  position: relative;
  width: 90%;
}

.user-message.my-message {
  margin-left: auto;
}

.user-message.my-message strong {
  /* display: none; */
  /* color: #FDC926; */
  line-height: .5em;
  opacity: 0;
}

.user-message.my-message div::before {
  background:#FDC926;
}

.user-message strong {
  display: block;
  font-weight: bold;
  color: var(--color-green-light);
}

.user-message:not(:first-child) strong {
  padding-top: 1em;
}

.user-message div {
  display: flex;
  background: rgba(0,0,0,.40);
  color: white;
  line-height: 1.75em;
  margin-top: .25em;
}

.user-message div::before {
  content: '';
  display: block;
  min-width: .25em;
  background: var(--color-green-light);
  margin-right: .5em;
}

.user-message div span {
  margin-left: auto;
  padding-right: .5em;
  opacity: .5;
  align-self: flex-end;
}
